
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Outfit:wght@300;400;500&display=swap");

/* 'DM Sans', sans-serif; 
'Outfit', sans-serif; */

/* Colores */

:root {

    --background: #070708;
    --secondary:#03e4f4;
    --grey: #495159;
    --greyDark: #2d3034;
    --grey-secondary:#778e9f5f;
    --grey-transparent2: #778b9f48;
    --blue: #050840;
    --secondary2: #137e94;
    --bgGradient1: linear-gradient(0deg, rgba(19,126,148,1) 53%, rgba(5,8,64,1) 80%, rgba(0,0,0,1) 100%);
    --bgGradient-white: radial-gradient(circle, rgba(221,228,227,1) 31%, rgba(193,202,201,1) 60%, rgba(164,175,175,1) 82%, rgba(134,146,148,1) 92%, rgba(73,89,93,1) 100%);
    --white:#dde4e3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: none;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
   }
   

                                       /* NAVBAR */
   
   .header {
    display: flex;
    height: 80px;
    background: linear-gradient(0deg, rgba(0,0,0,0.25271358543417366) 36%, rgba(0,0,0,1) 100%);
    justify-content:space-between;
    align-items: center;
    top:0;
    padding-top: 10px;
    box-shadow: 0 8px 24px #778e9f5f ;
   }
   
   .logo{
      height: 90px;
      padding-left: 10px;
   }
   
   .navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      top:0;
      position: fixed;
      z-index: 2;
   }
   
   .navbar-list{
      display: flex;
      justify-content: flex-end;
      list-style: none;
   }
   
   .navbar-link{
      color:var(--grey);
      font-size: 12px;
      font-family: 'Outfit', sans-serif;
      font-weight: 550;
      padding: 10px;
      position: relative;
      display: inline-block;
      text-decoration: none;
      transition:0.5s;
   }
   
   .navbar-list li:first-child>a {
      background: var(--bgGradient1);
      -webkit-background-clip: text;
      background-clip: none;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
   }

   .navbar-list:hover a{
      filter: blur(1px);
   }


   .navbar-list a:hover{
      filter: blur(0);
      background: var(--bgGradient1);
      -webkit-background-clip: text;
      background-clip: none;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
      transition:0.3s;

   }


   /* NAVBAR-ELEMENTS */
   
   .serch,
   .user,
   .favorites,
   .cart,
   .menu{
      height: 40px;
      cursor: pointer;
      padding:10px;
   }
   
   .nav-elements{
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
}


/* Buscador */

#toggle-menu-serch{
   display: none;
}

.serch-box{
   position: absolute;
   margin-top: 130px;
   display: none;
   z-index: 2;
}

.serch-box input{
   height: 30px;
   width: 100%;
   padding: 15px;
   color: #b3aeae;
   background-color: transparent;
   outline: none;
   border: 2px solid linear-gradient(0deg, rgba(19,126,148,1) 53%, rgba(5,8,64,1) 80%, rgba(0,0,0,1) 100%);
   border-radius: 30px;
   transition: all 0.6s;
}


#toggle-menu-serch:checked~ .serch-box{
   display: flex;
}

/* Menú de usuario */

#toggle-user {
   display: none;
}

.user-box {
   position: absolute;
   margin-top: 18%;
   display: none;
   border: 2px solid var(--secondary);
   border-radius: 11px;
   z-index: 1;
}

.user-box ul{
   background: var(--grey-secondary);
   width: 100%;
   padding: 30px 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   gap:35px;
}

.user-box a{
   background: var(--secondary);
   -webkit-background-clip: text;
   background-clip: none;
   -webkit-text-fill-color: transparent;
   font-weight: 700;
   border: 1.5px solid var(--secondary);
   padding: 8px;
   border-radius: 10px;
   
}

#toggle-user:checked~.user-box{
   display: flex;
}


/* Responsive-navlist */

.menu{
   display: none;
}

#toggle-menu{
   display: none;
}


/* Body */

body {
   background-image: url(assets/fondo-decoración/gif-cielo1.gif);
   object-fit: cover;
   width: 100%;
   text-align: justify;
}

.dado1,
.dado2{
   width: 80px;
   height: 80px;
   position: absolute;
   z-index: 0;
}

.dado1{
   top:30%;
   left: 86%;
}

.dado2{
   top: 65%;
   left:6%;

}

/* Section Hero */

.info-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: var(--white);
}

.info{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 70px;
   padding: 25px 10px;
   gap: 30px;
   width: 60%;
   text-align: center;
   background: var(--grey-transparent2);
   border-radius: 10px;
}

.info h1{
   background: var(--bgGradient-white);
   -webkit-background-clip: text;
   background-clip: none;
   -webkit-text-fill-color: transparent;

}

.info-container h4{
   margin-top: 20px;
}

/* Botones Login & Register */

.buttons{
   /* position: absolute; */
   display: flex;
   gap: 40px;
   padding: 40px;
   padding-top: 25px;
}

.buttons a{
   border: 1.5px solid var(--secondary);
   color: var(--secondary);
   padding: 10px 15px;
   border-radius: 10px;
   overflow: hidden;
   transition: .6s;
   letter-spacing: 1px;  
}

.buttons a:hover{
   background: var(--secondary);
   color: var(--text-white);
   border-radius: 5px;
   box-shadow: 0 0 5px var(--secondary),
               0 0 15px var(--secondary),
               0 0 30px var(--secondary),
               0 0 50px var(--secondary);
}


/* Section: products-galery */


.galey-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 30px;
   gap:30px;
   margin: 50px;
}


.galey-container h2{
   color: var(--white);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.emojis{
   width: 20px;
}

.container-galery {
   position: relative;
   height: 300px;
   width: 600px;
   top: 60px;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
 }
 
 .cardG {
   display: flex;
   height: 280px;
   width: 200px;
   background-color: #17141d;
   border-radius: 10px;
   box-shadow: -1rem 0 3rem #000;
   transition: 0.4s ease-out;
   position: relative;
   left: 0px;
}

.cardG img{
   border-radius: 10px;
 }
 
 .cardG:not(:first-child) {
     margin-left: -50px;
 }
 
 .cardG:hover {
   transform: translateY(-20px);
   transition: 0.4s ease-out;
 }
 
 .cardG:hover ~ .card {
   position: relative;
   left: 50px;
   transition: 0.4s ease-out;
 }


                  /* Section: AboutUs */

/* About us top (about-text) */
#aboutUs{
   color: var(--white);
   display: flex;
   flex-direction: column;
   gap:30px;
   align-items: center;
   justify-content: center;
}

.about-text{
   display: flex;
   gap: 30px;
   width: 85%;
   align-items: center;
   justify-content: center;
}

.about-text p{
   border-left: 2px solid var(--white);
   padding-left: 40px;
}

#aboutUs h3{
   color: var(--secondary);
   padding-top: 30px;
}

/* About-us cards (about-cards) */

.about-cards {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   gap: 20px;
   flex-wrap:wrap;
   text-align: center;
}

.cards-info{
   width: 350px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
   padding: 10px;
   background: var(--grey-transparent2);
   border-radius: 10px;
   padding:20px;
}


.card-desplegable-header {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap:20px;
}


.card-info-content{
   animation:scale-up-vertical-top 0.4s ease;
   max-height: 0;
   overflow: hidden;
}


@keyframes scale-up-vertical-top{
   
   0% {
   transform:scaleY(.4);transform-origin:center top
   }
   
   100% {
   transform:scaleY(1);transform-origin:center top
}
}


.card-desplegable{
   display: none;
}

.card-desplegable:checked~.card-info-content {
   max-height: 100%;
   animation:scale-up-vertical-top 0.4s ease;
}

.card-desplegable-header img{
   height: 15px;
   cursor:pointer;
}

.card-desplegable:checked~.card-desplegable-header img{
   transform: rotate(180deg);
   transition:0.5s;
}

.card-desplegable:not(:checked)~.card-desplegable-header img{
   transition:0.5s;
}






            /* Section:products */

#products{
   color:var(--white);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   gap: 40px;
   margin: 50px;
}

#products h2{
   border-top: 1px solid var(--white);
   padding-top: 30px;
   width: 80%;
   display: flex;
   justify-content: center;
}

.products-list{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap:20px   
}

.products-list a{
   cursor: pointer;
   color: var(--secondary2);
}

.product{
   padding: 10px;
   border: 2px solid var(--secondary2);
   border-radius: 10px;
   background: var(--grey-transparent2);
}

.products-list li:first-child{
   background: var(--secondary);
}

.product:hover{
   background: var(--secondary);
   transition:0.6s;
}


/* CARDS-PRODUCTS */

.card-container{
   display: flex;
   gap:50px;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 80%;
}

.card-product{
   display: flex;
   flex-direction: column;
   background: var(--grey-secondary);
   padding: 20px;
   gap:20px;
   border-radius: 10px;
   border: 2px solid var(--secondary);
   box-shadow: 8px 8px 20px #0a575c;
   width: 225px;
}

.card-info{
   display: flex;
   flex-direction: column;
   gap:10px;
}

.product-img{
   display: flex;
   height: 225px;
   width: 100%;
}


.product-img img{
   width: 0;
   flex-grow: 1;
   object-fit: cover;
   border-radius: 8px;
}


.info-top img,
.info-bottom img{
   height: 1.5em;
   cursor: pointer;
}


.info-top,
.info-bottom{
   display: flex;
   justify-content:space-between;
   gap:4em;
}

.info-top p{
   white-space: nowrap;
   overflow: hidden;
   text-overflow:ellipsis;
}

.boton-verMas a{
   border: 2px solid var(--secondary);
   background-color: transparent;
   color: var(--white);
   border-radius: 10px;
   display: flex;
   padding: 10px 15px;
}

.boton-verMas:hover {
   background-color: #03e4f4;
   border-radius: 10px;
   transition:0.4s;
}


/* Sección: contacto */

#contact{
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
}

.contact-container{
   display: flex;
   border-radius: 20px;
   border: 3px solid var(--white);
   color: var(--white);
   width: 70%;
}

.contact-text{
   display: flex;
   flex-direction: column;
   padding: 12%;
   text-align: center;
   background: var(--grey-secondary);
   width: 50%;
}

.contact-text form{
   display: flex;
   flex-direction: column;
   gap:15px;
   padding-top: 20px;

}

.contact-top {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap:10px;
}

.contact-top h2{
   background: var(--bgGradient-white);
   -webkit-background-clip: text;
   background-clip: none;
   -webkit-text-fill-color: transparent;
}

.mapa{
   width: 50%;
}

.mapa iframe{
   width: 100%;
   height: 100%;
   border-radius: 0 17px 17px 0;
}

.contact-text input{
   background: transparent;
   border-radius: 10px;
   border: 1.5px solid var(--white);
   padding: 5px;
}

.mensaje{
   height: 150px;
}


/* FOOTER */

#footer{
   width: 100%;
   background: var(--greyDark);
   margin-top: 80px;
   border-top: 4px solid var(--grey);
}

.footer-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color:var(--white);
   gap:20px;
}
.redes-container{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.redes-top{
   margin-top: 30px;
   background: var(--bgGradient1);
   -webkit-background-clip: text;
   background-clip: none;
   -webkit-text-fill-color: transparent;
}

.footer-list ul{
   display: flex;
   flex-direction: row;
   gap:20px;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.footer-list a{
   color: #137e94;
}

.footer-list li:hover a{
   color: var(--secondary);
   transition:0.3s;
}

.copy{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:10px;
   font-size:10px;
}
.copy img{
   height: 30px;
}

/* icons */

#icons{
   background-color: transparent;
   display: grid;
   place-items: center;
   box-sizing: border-box;
   padding: 8%;
}

.icons {
   display: flex;
   column-gap: 25px;
}

.icon {
  display: inline-flex;
  width: 35px;
  height:35px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icon img{
   padding:20%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon:hover {
  outline-offset: 4px;
}
.icon i {
  margin: auto;
}
.icon:hover i {
  animation: shake 0.25s;
}
.icon--instagram:hover {
  background-image: radial-gradient(
     circle at 30% 107%,
     #fdf497 0%,
     #fdf497 5%,
     #fd5949 45%,
     #d6249f 60%,
     #285aeb 90%
  );
  outline-color: #a02d76;
}
.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.icon--facebook:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
.icon--ws:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

.icon--youtube:hover {
  background-color: #f21d36;
  outline-color: #f21d36;
}

@keyframes shake {
  10% {
     transform: rotate(15deg);
  }
  20% {
     transform: rotate(-15deg);
  }
  30% {
     transform: rotate(15deg);
  }
  40% {
     transform: rotate(-15deg);
  }
}





@media (max-width:1440px){
   
}

@media (max-width:1200px){
   
}





@media (max-width:992px){
   
}

@media (max-width: 850px) {

   /* Navbar */

   .navbar-list { 
      background: linear-gradient(90deg, rgba(25,24,24,0.832545518207283) 0%, rgba(34,41,41,0.9698004201680672) 27%, rgba(57,62,62,0.9333858543417367) 80%, rgba(45,71,71,0.9333858543417367) 98%);
      color: var(--grey);
      height: calc(100vh - 90px 0);
      position: absolute;
      top: 85px;
      right: 10px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 20px;
      padding-right: 0;
      border-radius: 10px;
      border: 2px solid var(--secondary);
      transform: translateX(200%);
      transition: all 0.4s ease;
   }


   .menu{
      display: flex;
      border-left: 2px solid #495159;
      margin-right: 20px;
   }

   #toggle-menu:checked ~.navbar-list{
      transform: translateX(0);
   }


   .navbar-center{
      order: 2;
      padding: 0;
   }

   .navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   /* .nav-elements {
      padding-left: 55%;
      padding-right: 0;
    } */

    
    /* Navbar-user */
    
    .user-box{
      border: none;
    }
    .user-box ul {
      position: relative;
      flex-direction: row;
      padding: 0;
      background: none;
    }


    /* Galery */

   #products-galery{
      display: none;
   }


   /* About-us products */

   .card-container {
      width: 100%;
   }

   /* Contact */

   #contact{
      margin: 0;
    }

   .contact-container{
      display: flex;
      flex-direction: column;
      width: 60%;
      border: none;
      gap:50px;
      background: var(--grey-secondary);
      padding: 30px;
      border-radius: 20px;
   }

   .contact-text{
      width: 100%;
      border-radius: 20px;
      border: 2px solid var(--white);
   }

   .contact-text form{
      display: flex;
      flex-direction: column;
      gap:15px;
      padding-top: 20px;
   }

   .mapa{
      width: 100%;
   }

   .mapa iframe{
      width: 100%;
      height:25rem;
      border-radius: 20px;
   }

   
}


@media (max-width:714px){

   /* navbar */

   .user-box{
      margin-top: 22%;
   }


   /* Hero */

   .dado1,
   .dado2{
      display: none;
   }

   .info{
      width: 80%;
   }

   .galey-container h2{
      text-align: center;
   }

   .galey-container img{
      display: none;
   }


   /* Cards products */




      /* Contact */
      .contact-container{
         width: 70%;
         gap:40px;
         padding: 15px;
      }
     
      .mapa iframe{
         height:20rem;
      }
        
   
}

@media(max-width:576px){

   /* hero */

   .info-container h4{
      width: 70%;
      text-align: center;
   }


   
   /* about-us */

   .about-text p{
      text-align:start;
   }

   /* contact */
   .contact-container{
      width: 80%;
   }

}

@media (max-width:496px){

   .user-box{
      margin-top: 33%;
   }

   .serch-box input{
      width: 185px;
   }

}

@media (max-width:320px){

      /* navbar */

      .nav-elements{
         display: none;
      }


      /* navbar-user */

      .user-box{
         margin-top: 44%;
      }


         /* Contact */
         .contact-container{
            width: 100%;
            padding: 10px;
         }
        
         .mapa iframe{
            height:20rem;
         }

         /* about-us */

         .about-cards{
            max-width: 80%;
         }

         /* footer */

      .icons{
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         gap:30px;
         margin: 0 10%;
      }

      .footer-list ul{
         margin: 0 10%;
      }


}

